#main {
	background-color: #AAA;
	height: 300px;
	width: 300px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 10px;
	border-radius: 10px;
}
body {
	background-color: #FFF;
}
.field {
	background-color: #CCC;
	margin: 0px;
	padding: 0px;
	float: left;
	height: 10px;
	width: 10px;
}
.active {
	background-color: #000;
}
.button {
	color: #000;
	background-color: #F00;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	width: 50px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
#controls {
	position: absolute;
	left: 45%;
}
#controls li {
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: absolute;
	top 0px;
}
#controls li, #controls a {
	height: 45px;
	width: 46px;
	display: block;
}
#play {
	left: 0px;
	background: url(Icons.png) 0 0;
}
#play a:hover {
	background: url(Icons.png) 0 -45px;
}
#pause {
	left: 0px;
	background: url(Icons.png) -46px 0;
}
#pause a:hover {
	background: url(Icons.png) -46px -45px;
}
#stop {
	left: 56px;
	background: url(Icons.png) -92px 0;
}
#stop a:hover {
	background: url(Icons.png) -92px -45px;
}
